.modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-background,
.modal-bg-clear {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.modal-background {
	backdrop-filter: blur(20px);
}
.modal-bg-clear {
	background-color: transparent;
}

.modal-content {
	position: absolute;
    width: 450px;
    height: 300px; 
    bottom: 200px;
}

.add-question-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: var(--gray2);
	box-shadow: 0 0 5px rgb(0 0 0 / 30%);
	transition: all 0.5s;
	box-sizing: border-box;
	width: 100%;
    height: 500px;
    /* margin-bottom: -500px; */
}
.add-question-form {
	display: relative;
    top: 60%; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
    height: 90%;
}
.input-height {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.textarea-content {
    width: 350px;
    height: 200px;
    caret-color: black;
    padding: 10px;
    margin: 10px;
    border-color: var(--gray2);
    border-radius: 10px;

}
textarea:focus {
	outline: none;
}