.questions-list-content {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 25%; 
    right: 30%; 
    padding: 20px;
    margin: 20px;
    margin-top: 100px; 
    height: auto;
    text-overflow: ellipsis;
    box-sizing: border-box;
    overflow-wrap: break-word;
    z-index: -1; 
}
.time {
    width: 90%;
}
.time,
.create-at-time,
.update-at-time {
    display: inline-flex;
    justify-content: space-between;
    font-size: 13px;
    color: var(--gray4);
}
.update-at-time {
    margin-right: -60px
}
p.question-detail {
    color: black;
    font-size: 18px; 
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}
p.question-detail:hover {
    color: var(--red);
}
.idyRmA svg {
    width: 30px;
    height: 30px;
    vertical-align: top;
}
.question-page-title {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
    margin-left: -1px;
}
.question-box {
    border: solid; 
    border-color: var(--gray1);
    border-width: 1px;
    border-radius: 15px;
    background-color: white;
    padding: 10px; 
}
.home-question-item {
    margin: 10px 0px; 
    border-bottom: solid 1px;
    border-color: var(--gray3);
    padding: 10px;
}
.ask-answer-word {
    color: var(--gray5);
    font-size: 15px;
    font-weight: 600px;
}