.questions-list-content {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 25%; 
    right: 30%; 
    padding: 20px;
    margin: 20px;
    margin-top: 150px; 
    height: auto;
    text-overflow: ellipsis;
    box-sizing: border-box;
    overflow-wrap: break-word;
    z-index: -1; 
}
.time {
    width: 90%;
}
.time,
.create-at-time,
.update-at-time {
    display: inline-flex;
    justify-content: space-between;
    font-size: 13px;
    color: var(--gray4);
}
p.question-detail {
    color: black;
    font-size: 18px; 
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}